@font-face {
	font-family: 'sdx-icons';
	src:  url($iconfont-path + '/sdx-icons.eot?3at2og');
	src:  url($iconfont-path + '/sdx-icons.eot?3at2og#iefix') format('embedded-opentype'),
	url($iconfont-path + '/sdx-icons.woff2?3at2og') format('woff2'),
	url($iconfont-path + '/sdx-icons.ttf?3at2og') format('truetype'),
	url($iconfont-path + '/sdx-icons.woff?3at2og') format('woff'),
	url($iconfont-path + '/sdx-icons.svg?3at2og#sdx-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'sdx-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-document:before {
	content: "\e076";
}
.icon-document-pdf:before {
	content: "\e07b";
}
.icon-document-txt:before {
	content: "\e07c";
}
.icon-document-code:before {
	content: "\e07e";
}
.icon-information-circle:before {
	content: "\e02e";
}
.icon-chevron-flat-down:before {
	content: "\e011";
}
.icon-chevron-flat-up:before {
	content: "\e014";
}
.icon-close:before {
	content: "\e016";
}
.icon-heart:before {
	content: "\e02b";
}
.icon-menu:before {
	content: "\e032";
}
.icon-search:before {
	content: "\e04d";
}
.icon-settings:before {
	content: "\e04e";
}
.icon-document:before {
	content: "\e076";
}
.icon-sms:before {
	content: "\e0a3";
}
.icon-draft:before {
	content: "\e0ba";
}
.icon-heart-filled:before {
	content: "\e0c3";
}