.l-page {
	position: relative;
	transition: $transition;
	left: 0;
	
	.is-nav-open & {
		left: -$nav-width;
	}
}

.l-nav {
	position: fixed;
	height: 100vh;
	width: $nav-width;
	right: -$nav-width;
	transition: $transition;
	
	.is-nav-open & {
		right: 0;
	}
}

.l-container {
	@include outer-container();
	padding: $spacing * 2;
	
	@include media($medium-up) {
		padding: $spacing * 5 $spacing * 2;
	}
	
	@include media($large-up) {
		padding: $spacing * 10 $spacing * 2;
	}
	
	&--narrow {
		margin: 0 auto;
		
		@include media($medium) {
			max-width: 80%;
		}
		
		@include media($large-up) {
			max-width: 70%;
		}
	}
	
	&--ultranarrow {
		margin: 0 auto;
		
		@include media($medium) {
			max-width: 70%;
		}
		
		@include media($large-up) {
			max-width: 50%;
		}
	}
}