.richtext {
	
	@include type-setting(-2);
	
	@include media($medium-up) {
		@include type-setting(-1);
	}
	
	p {
		@include type-setting(-2);
		margin-bottom: $spacing * 2;
		
		@include media($medium-up) {
			@include type-setting(-1);
			margin-bottom: $spacing * 3;
		}
		
		&:empty {
			margin-bottom: 0;
		}
	}
	
	a {
		@extend .a-link;
	}
	
	strong {
		font-family: $font-family-bold;
		color: $grey;
	}
	
	ul {
		margin-bottom: $spacing;
		
		li {
			margin-left: $spacing * 3;
			margin-bottom: $spacing / 2;
			list-style: disc;
			
			@include media($medium-up) {
				margin-bottom: $spacing;
			}
			
			ul {
				margin-top: $spacing;
				
				li {
					list-style: circle;
					
					ul {
						li {
							list-style: square;
							margin-top: 0;
						}
					}
					
				}
			}
		}
	}
	
	h2 {
		@include type-setting(0);
		margin-bottom: $spacing * 3;
		
		@include media($medium-up) {
			@include type-setting(1);
		}
		
	}
	
	h3 {
		@include type-setting(-1);
		margin: $spacing * 4 0 $spacing * 2 0;
		
		@include media($medium-up) {
			@include type-setting(0);
		}
	}
	
	h4 {
		@include type-setting(-1);
		margin: $spacing * 4 0 $spacing * 2 0;
		
		@include media($medium-up) {
			@include type-setting(0);
		}
	}
	
	table {
		width: auto;
		margin: $spacing * 2 0;
		
		@include media($medium-up) {
			margin-left: -20%;
			margin-right: -20%;
		}
		
		@include media($large-up) {
			margin-left: -20%;
			margin-right: -20%;
		}
		
		tr {
			border-bottom: 1px solid $grey-20;
		
		}
		
		th {
			font-family: $font-family-bold;
			padding: $spacing $spacing / 2 $spacing $spacing / 2;
		}
		
		td {
			padding: $spacing;
			@include type-setting(-2);
		}
	}
	
	code {
		@include type-setting(-2);
		font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
	}
	
	
	// Overwirte WordPress Styles
	
	.aligncenter {
		display: block;
		margin: 0 auto $spacing ;
	}
}