.o-accordion {
	
	$chevronWidth: 35px;
	
	&__inner {
		@extend .l-container;
	}
	
	&__list {
		margin: 0 auto;
		
		@include media($medium) {
			width: 80%;
		}
		
		@include media($large-up) {
			width: 60%;
		}
	
	}
	
	&__item {
		margin-bottom: $spacing * 2;
		
		@include media($large-up) {
			margin-bottom: $spacing * 3;
		}
		
		&__title {
			position: relative;
			padding-right: calc(#{$chevronWidth} + #{$spacing} * 2);
			
			@include media($large-up) {
				@include type-setting(0);
			}
		}
		
		&__chevron {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: $chevronWidth;
			height: 16px;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
				border-radius: 3px;
				background: $grey-60;
				width: 20px;
				height: 3px;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
			
			&:before {
				left: 0;
				transform: rotate(35deg);
			}
			
			&:after {
				left: 15px;
				transform: rotate(-35deg);
			}
			
			.is-accordion-open & {
				
				&:before {
					transform: rotate(-35deg);
				}
				
				&:after {
					transform: rotate(35deg);
				}
			}
		}
		
		&__body {
			@include type-setting(-2);
			display: none;
			margin-top: $spacing;
			
			@extend .richtext;
			
			// overwrite richtext styles
			> h2,
			h3 {
				font-family: $font-family-bold;
				color: $grey;
				margin-bottom: $spacing;
			}
			
			@include media($large-up) {
				@include type-setting(-1);
			}
		}
	}
}