.o-accordion {
	
	$chevronWidth: 35px;
	
	@include background-light();
	
	&__inner {
		@extend .l-container;
	}
	
	&__list {
		margin: 0 auto;
		@extend .l-container--ultranarrow;
	}
	
	&__title {
		@include type-setting(0);
		@extend .l-container--ultranarrow;
		text-align: center;
		margin-bottom: $spacing * 2;
		
		@include media($large-up) {
			@include type-setting(1);
			margin-bottom: $spacing * 6;
		}
	}
	
	&__item {
		margin-bottom: $spacing * 2;
		
		@include media($large-up) {
			margin-bottom: $spacing * 3;
		}
		
		&__title {
			position: relative;
			padding-right: calc(#{$chevronWidth} + #{$spacing} * 2);
			
			@include media($large-up) {
				@include type-setting(0);
			}
			
			&:hover {
				cursor: pointer;
				color: $grey;
				
				span {
					&:before,
					&:after {
						background: $grey
					}
				}
			}
		}
		
		&__chevron {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: $chevronWidth;
			height: 16px;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				transition: $transition;
				border-radius: 3px;
				background: $grey-60;
				width: 20px;
				height: 3px;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
			
			&:before {
				left: 0;
				transform: rotate(35deg);
			}
			
			&:after {
				left: 15px;
				transform: rotate(-35deg);
			}
			
			.is-accordion-open & {
				
				&:before {
					transform: rotate(-35deg);
				}
				
				&:after {
					transform: rotate(35deg);
				}
			}
		}
		
		&__body {
			@include type-setting(-2);
			@extend .richtext;
			display: none;
			margin-top: $spacing;
			overflow-x: auto;
			padding-right: calc(#{$chevronWidth} + #{$spacing} * 2);
			
			@include media($medium-up) {
				overflow: visible;
			}
			
			@include media($large-up) {
				@include type-setting(-1);
			}
			
			// overwrite richtext styles
			h2,
			h3 {
				@include type-setting(-1);
				font-family: $font-family-bold;
				color: $grey;
				margin-top: 0;
				margin-bottom: $spacing;
			}
			
			h4,
			h5 {
				@include type-setting(-2);
				font-family: $font-family-bold;
			}
			
			h6 {
				font-size: 1.5rem;
				font-family: $font-family-bold;
				margin-bottom: $spacing;
			}
			
			p {
				//margin-bottom: 0;
			}
		}
	}
}