.o-calculator {
	
	padding: $spacing * 2;
	@include background-light();
	
	&__inner {
		@extend .l-container;
	}
	
	&__title {
		@extend .a-title;
	}
	
	&__text {
		text-align: center;
		
		> p {
			@include media($medium-up) {
				margin-bottom: $spacing * 4;
			}
			
			@include media($large-up) {
				margin-bottom: $spacing * 8;
			}
		}
	}
	
	// overwrite plugin styles
	.license-calculator__price {
		@include type-setting(0);
		color: $sc-blue;
	}
	
	.license-calculator__label {
		display: inline;
		@include type-setting(-2);
		color: $grey;
	}
}