.o-content {
	
	@include background-light();
	
	&__inner {
		@extend .l-container;
	}
	
	&__left {
		@include media($medium-up) {
			@include span-columns(6);
		}
		
	}
	
	&__right {
		@include media($medium-up) {
			@include span-columns(6);
		}
	}
	
	p {
		@include type-setting(-2);
		margin-bottom: $spacing * 2;
		
		@include media($medium-up) {
			@include type-setting(-1);
			margin-bottom: $spacing * 3;
		}
		
		&:empty {
			margin-bottom: 0;
		}
	}
	
	&__figure {
		margin-bottom: $spacing * 2;
		
		@include media($medium-up) {
			margin-bottom: $spacing * 3;
		}
		
		&__img {
			margin-bottom: $spacing;
		}
		
		&__caption {
			@include type-setting(-2);
			font-style: italic;
		}
	}
}

