.o-featurelist {
	
	overflow: hidden;
	@include background-light();
	padding: $spacing * 2;
	
	@include media($medium-up) {
		padding: $spacing * 4 $spacing * 2;
	}
	
	&__title {
		@include type-setting(0);
		text-align: center;
		margin-bottom: $spacing*2;
	}
}