.o-feature {
	
	@include span-columns(6);
	position: relative;
	text-align: center;
	margin-bottom: $spacing;
	
	&:before {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
	
	@include media($small) {
		&:nth-child(2n+1) {
			margin-right: 0;
		}
	}
	
	@include media($medium) {
		@include span-columns(4);
		
		&:nth-child(3n+1) {
			margin-right: 0;
		}
	}
	
	@include media($large-up) {
		@include span-columns(2.4);
		
		&:nth-child(5n+1) {
			margin-right: 0;
		}
	}
	
	&__inner {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;
		border-top-width: 4px;
		border-top-style: solid;
		color: $sc-mid-grey;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		
		.icon {
			display: block;
			@include type-setting(2);
			margin: $spacing 0;
		}
		
		&:hover {
			box-shadow: 0px 0px 5px 0px $grey-40;
		}
	}
	
	&__title {
		@include type-setting(-2);
	}

}