.o-footer {
	background-color: $blue;
	
	&__inner {
		padding: $spacing * 2;
		@include outer-container();
		
		@include media($medium) {
			padding: $spacing * 4;
		}
		
		@include media($large-up) {
			padding: $spacing * 6;
			display: flex;
			align-items: center;
			text-align: center;
		}
	}

	&__title {
		@include type-setting(-1);
		font-weight: 200;
		color: white;
		margin-bottom: $spacing;
		
		@include media($large-up) {
			flex: 4;
		}
	}
	
	&__address {
		@include type-setting(-2);
		font-weight: 200;
		color: white;
		margin-bottom: $spacing * 2;
		
		@include media($large-up) {
			flex: 4;
			margin-bottom: 0;
			
			p {
				text-align: left;
				display: inline-block;
				margin: 0 auto;
			}
		}
	}
	
	&__contact-wrapper {
		
		@include media($large-up) {
			flex: 4;
		}
		
		&__inner {
			text-align: left;
			display: inline-block;
			margin: 0 auto;
		}
	}
	
	&__tel,
	&__mail {
		display: block;
		@include type-setting(-1);
		font-weight: 200;
		color: $orange;
		
		i {
			font-size: 30px;
			position: relative;
			top: 3px;
			padding-right: $spacing;
		}
		
		&:hover {
			color: white;
		}
	}
	
	&__disclaimer {
		display: block;
		text-align: center;
		font-weight: 200;
		@include type-setting(-2);
		color: $orange;
		padding-bottom: $spacing * 2;
		
		&:hover {
			color: white;
		}
	}
}