.o-header {
	
	position: absolute;
	width: 100%;
	height: $header-height-s;
	z-index: 1;
	
	@include media($medium-up) {
		height: 110px;
	}
	
	&__inner {
		@include outer-container();
		padding: $spacing*2 ;
		
		@include media($large-up) {
			padding: $spacing*4;
		}
	}
	
	&__brand {
		display: inline-block;
		margin-top: 8px;
	}
	
	&__controls {
		float: right;
		
		&__item {
			float: left;
			margin-left: $spacing;
			
			
			> .icon {
				color: white;
				@include type-setting(0);
				padding: 0;
				margin: 0;
				background: none;
				border: none;
				
				&:focus {
					outline: none;
				}
				
				&-menu {
					.is-nav-open & {
						
						&:before {
							content: "\e016";
						}
					}
				}
			}
		}
	}
	
}
