.o-info {
	
	
	@include background-light();
	
	@include media($medium-up) {
		padding-top: $spacing * 2;
	}
	
	@include media($large-up) {
		padding-top: $spacing * 5;
	}
	
	&__copy {
		@include type-setting(-1);
		text-align: center;
		
		@include media($medium-up) {
			@include type-setting(0);
		}
		
		@include media($large-up) {
			@include type-setting(1);
		}
		
		em {
			@include type-setting(-2);
			display: block;
			font-style: italic;
			
			@include media($medium-up) {
				@include type-setting(-1);
			}
			
			@include media($large-up) {
				@include type-setting(0);
			}
			
			&:after {
				font-family: $icon-font-family;
				content: "\e0c3";
				color: $sc-red;
				font-style: normal;
				padding-left: $spacing;
			}
		}
	}
}