.o-meta {
	@include outer-container();
	padding: $spacing * 2;
	
	&__date {
		@include type-setting(-2);
		float: left;
		
		@include media($medium-up) {
			padding-left: $spacing * 2;
		}
	}
	
	&__author {
		@include type-setting(-2);
		float: right;
		
		@include media($medium-up) {
			padding-right: $spacing * 2;
			
		}
	}
	
	&__categories {
		float: left;
		width: 100%;
		
		@include media($medium-up) {
			padding-left: $spacing * 2;
		}
		
		a {
			@include type-setting(-2);
			@extend .a-link;
		}
	}
}