.o-nav {
	position: absolute;
	width: 100%;
	color: white;
	
	@include media($medium-up) {
		padding: $spacing;
	}
	
	&__list {
		text-align: center;
	}
	
	&__item {
		display: inline-block;
		padding-left: $spacing / 2;
		
		&:after {
			content: '|';
			font-weight: 100;
			font-size: 20px;
			padding-left: $spacing / 2;
		}
		
		&:last-child {
			
			&:after {
				display: none;
			}
		}
		
	}
	
	&__link {
		@include type-setting(-2);
		font-weight: 100;
		color: white;
		transition: $transition;
		
		@include media($medium-up) {
			@include type-setting(-1);
		}
		
		&:hover {
			color: $orange;
		}
	}
	
}