.o-newsletter {
	
	&__lists {
		@include type-setting(-2);
		margin-top: $spacing;
		
		.o-footer__newsletter & {
			color: white;
		}
		
		&__list {
		
		}
		
		&__label {
			position: relative;
			@extend .a-checkbox;
			
			@include media($small) {
				width: 50%;
			}
			
			@include media($medium-up) {
				margin-right: $spacing;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}