.o-platform {
	
	&__outer {
		background-size: cover;
		background-position: center center;
		padding: 2rem;
		position: relative; // image relative
		
		&:before {
			@include background-dark();
		}
	}
	
	&__inner {
		@extend .l-container;
	}
	
	&__title {
		@extend .a-title;
		color: white;
	}
	
	&__text {
		@include type-setting(-1);
		text-align: center;
		color: white;
		margin-bottom: $spacing * 2;
		position: relative;
		
		@include media($medium-up) {
			@include type-setting(0);
			margin-bottom: $spacing * 6;
		}
		
		@include media($large-up) {
			@include type-setting(1);
			margin-bottom: $spacing * 8;
		}
	}
	
	&__logos {
		overflow: hidden;
		position: relative;
	}
	
	&__logo {
		display: block;
		margin: 0 auto $spacing;
		max-width: 200px;
		
		@include media($medium-up) {
			display: inline-block;
			max-width: 30%;
			margin-right: $spacing * 2;
			vertical-align: middle;
			
			&:last-child {
				margin-right: 0;
			}
		}
		
		@include media($large-up) {
			margin-right: $spacing * 4;
		}
	}
}