.o-search {
	position: fixed;
	background: rgba(255,255,255, .6);
	top: -$header-height-s;
	left: 0;
	width: 100%;
	transition: $transition;
	
	@include media($medium-up) {
		padding: 0 $spacing * 2;
	}
	
	@include media($large-up) {
		top: -$header-height-l;
	}
	
	.is-search-open & {
		top: 0;
	}
	
	&__inner {
		@extend .l-container;
		padding: 0 $spacing * 2;
		position: relative; // close relative
	}
	
	&__form {
	
	}
	
	&__input {
		font-family: $font-family;
		@include type-setting(-1);
		height: $header-height-s;
		width: 100%;
		border: none;
		background-color: transparent;
		color: white;
		
		&::placeholder {
			color: white;
		}
		
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
		
		-webkit-appearance: none;
		
		&:focus {
			outline: 0;
		}
		
		@include media($large-up) {
			height: $header-height-l;
		}
	}
	
	&__button {
		&__close {
			@include type-setting(0);
			position: absolute;
			right: $spacing * 6;
			cursor: pointer;
			top: 50%;
			transform: translateY(-50%);
			color: white;
			padding: 0;
			
			-webkit-appearance: none;
			background-color: transparent;
			border: none;
			
			@include media($medium-up) {
				@include type-setting(0);
			}
			
			&:focus {
				outline: none;
			}
		}
		
	}
}