.o-stage {
	
	position: relative;
	
	&__inner {
		background-size: cover;
		background-position: center center;
		position: relative; // image relative
		
		&:before {
			@include background-dark();
		}
		
		@include media($medium-up) {
			text-align: center;
		}
	}
	
	&__title {
		@include type-setting(-1);
		color: white;
		position: relative;
		padding: $header-height-s $spacing*2 0 $spacing*2;
		
		@include media($medium-up) {
			@include type-setting(0);
		}
		
		&__outer {
			@include media($medium-up) {
				display: inline-block;
			}
		}
	}
	
	&__subheading {
		@include type-setting(-2);
		font-family: $font-family-serif;
		font-weight: 600;
		color: $sc-blue;
		position: relative;
		padding: 0 $spacing*2;
		
		@include media($medium-up) {
			text-align: left;
		}
	}
	
	&__image {
		display: block;
		margin: 0 auto;
		width: 250px;
		z-index: 1;
		position: relative;
		margin-top: 20px;
		margin-bottom: -45px;
		
		@include media($medium-up) {
			padding-left: $spacing * 2;
			margin: 0;
			width: calc(50%);
			transform: translateY(25%);
		}
	}
	
	&__cta {
		overflow: hidden;
		padding: $spacing*5 $spacing*2 $spacing*2;
		background-color: $grey;
		position: relative;
		
		@include media($medium-up) {
			background-color: transparent;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50%;
		}
		
		&__tagline {
			@include type-setting(-2);
			color: white;
			@include span-columns(7);
			
			@include media($medium-up) {
				@include span-columns(12);
				margin-bottom: $spacing;
			}
		}
		
		&__button {
			
			&__outer {
				@include span-columns(5);
				text-align: center;
				
				@include media($medium-up) {
					@include span-columns(12);
					text-align: left;
				}
			}
		}
		
	}
}