.o-stage {
	
	position: relative;
	
	&__outer {
		background-size: cover;
		background-position: center center;
		position: relative; // image relative
		
		&:before {
			@include background-dark();
		}
		
		@include media($medium-up) {
			text-align: center;
		}
	}
	
	&__inner {
		@include outer-container();
	}
	
	&__title {
		@include type-setting(0);
		color: white;
		position: relative;
		padding: $header-height-s $spacing*2 0 $spacing*2;
		
		@include media($medium-up) {
			@include type-setting(1);
			padding: calc(#{$header-height-s} + #{$spacing}) $spacing*2 0 $spacing*2;
		}
		
		@include media($large-up) {
			@include type-setting(3);
			padding: calc(#{$header-height-l} + #{$spacing} * 3) $spacing*2 0 $spacing*2;
		}
		
		&__outer {
			@include media($medium-up) {
				display: inline-block;
			}
		}
	}
	
	&--small &__title {
		text-align: center;
		padding: calc(#{$header-height-s} + #{$spacing} * 2) $spacing*2 $header-height-s $spacing*2;
		
		@include media($medium-up) {
			@include type-setting(1);
			padding: calc(#{$header-height-s} + #{$spacing} * 4) $spacing*2 $header-height-s $spacing*2;
		}
		
		@include media($large-up) {
			@include type-setting(3);
			padding: calc(#{$header-height-l} + #{$spacing} * 5) $spacing*2 $header-height-l $spacing*2;
		}
	}
	
	&__subheading {
		display: inline-block;
		@include type-setting(-2);
		font-family: $font-family-serif;
		color: $sc-blue;
		position: relative;
		
		@include media($medium-up) {
			@include type-setting(-1);
			text-align: left;
		}
		
		&__outer {
			text-align: left;
			padding: 0 $spacing*2;
		}
		
		&__typed {
			display: none;
		}
	}
	
	&__image {
		display: block;
		margin: 0 auto;
		width: 250px;
		z-index: 1;
		position: relative;
		margin-top: 20px;
		margin-bottom: -45px;
		
		@include media($medium-up) {
			padding-left: $spacing * 4;
			margin: 0;
			width: calc(50%);
		}
		
		&__outer {
			@include media($medium-up) {
				display: inline-flex;
				align-items: center;
				width: 100%;
				transform: translateY(25%);
			}
		}
	}
	
	&__cta {
		overflow: hidden;
		padding: $spacing*5 $spacing*2 $spacing*2;
		background-color: $grey;
		position: relative;
		
		@include media($medium-up) {
			background-color: transparent;
			position: relative;
			padding-top: 0;
			transform: translateY(-10%);
			bottom: 0;
			right: 0;
			width: 50%;
		}
		
		@include media($large-up) {
			transform: translateY(-25%);
		}
		
		&--largescreen {
			display: none;
			
			@include media($medium-up) {
				display: block;
			}
		}
		
		&--smallscreen {
			display: block;
			
			@include media($medium-up) {
				display: none;
			}
		}
		
		&__tagline {
			@include type-setting(-2);
			color: white;
			@include span-columns(7);
			
			@include media($medium-up) {
				@include span-columns(12);
				@include type-setting(-1);
				margin-bottom: $spacing;
				text-align: left;
			}
		}
		
		&__button {
			
			@include media($small) {
				background-color: transparent;
				border: 1px solid white;
				
				&:hover {
					cursor: pointer;
					outline: none;
					border-color: $grey-40;
				}
			}
			
			&__outer {
				@include span-columns(5);
				text-align: center;
				
				@include media($medium-up) {
					@include span-columns(12);
					text-align: left;
				}
			}
		}
		
	}
}