.o-teaserlist {
	
	@include background-light();
	
	&__list {
		@include outer-container();
		overflow: hidden;
		padding: $spacing * 2;
	}
	
	&__item {
		background-color: white;
		margin-bottom: $spacing * 2;
		min-height: 420px;
		
		@include media($medium) {
			@include span-columns(6);
			
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		
		@include media($large-up) {
			@include span-columns(4);
			
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}