.o-teaser {
	
	&__figure {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		margin: 0;
		
		transition: $transition;
		
		&__image {
			position: absolute;
			top: -100%;
			right: -100%;
			bottom: -100%;
			left: -100%;
			margin: auto;
			width: 100%;
		}
		
		&__span {
			display: block;
			margin: 0 auto;
			
			&:before {
				@include background-dark();
			}
			
			&__inner {
				padding-bottom: 56.75%;
			}
		}
	}
	
	&__link {
		display: block;
		position: relative; // figure relative
		margin-bottom: $spacing * 2;
		overflow: hidden;
	}
	
	&__link:hover &__figure {
		transform: scale(1.1);
	}
	
	&__title {
		@include type-setting(-1);
		position: absolute;
		width: 100%;
		padding: 0 $spacing * 2;
		color: white;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		text-shadow: 0px 0px 20px $grey;
	}
	
	
	&__meta {
		@include type-setting(-2);
		padding: 0 $spacing * 2;
		margin-bottom: $spacing;
		
		&__date {
		
		}
		
		&__categories {
			> a {
				@extend .a-link;
			}
		}
	}
	
	&__copy {
		@include type-setting(-2);
		padding: 0 $spacing * 2 $spacing * 2 $spacing * 2;
	}
}