.o-topfeature {
	
	overflow: hidden;
	@include background-light();
	
	&:nth-of-type(2n) &__image__outer {
		order: 2;
	}
	
	&__inner {
		@extend .l-container;
		overflow: hidden;
	}
	
	&__grid {
		@include media($medium-up) {
			display: inline-flex;
			align-items: center;
		}
	}
	
	&__title {
		@extend .a-title;
	}
	
	&__image {
		display: block;
		margin: 0 auto $spacing*2 auto;
	
		&__outer {
			@include media($medium-up) {
				@include span-columns(6);
			}
		}
	}
	
	&__description {
		@include type-setting(-2);
		margin-bottom: $spacing*2;
		
		&__outer {
			@include media($medium-up) {
				@include span-columns(6);
			}
		}
	}
	
}