.a-btn {
	display: inline-block;
	@include type-setting(-1);
	line-height: 2.5rem;
	font-weight: 200;
	background-color: $orange;
	color: white;
	text-align: center;
	height: 48px;
	padding: $spacing;
	border-radius: 8px;
	border: none;
	font-family: $font-family;
	width: 100%;
	margin-bottom: $spacing;
	-webkit-appearance: none;
	text-decoration: none;
	
	transition: all .25s ease-in-out;
	
	@include media($medium-up) {
		max-width: 250px;
	}
	
	&:focus {
		outline: none;
	}
	
	&:hover {
		cursor: pointer;
		background-color: $blue;
	}
}