.a-link {
	text-decoration: none;
	color: white;
	
	transition: color .25s ease-in-out;
	
	&:hover {
		color: $blue;
	}
	
	&--copy {
		color: $blue;
		border-bottom: 1px solid $blue;
		
		&:hover {
			color: $blue;
			border-color: $blue;
		}
	}
}