.a-logo {
	@include type-setting(-1);
	font-style: italic;
	color: white;
	text-decoration: none;
	visibility: visible;
	opacity: 1;
	
	transition: $transition;
	
	.is-search-open & {
		visibility: hidden;
		opacity: 0;
	}
}