.a-title {
	@include type-setting(0);
	text-align: center;
	margin-bottom: $spacing*2;
	position: relative;
	
	@include media($medium-up) {
		@include type-setting(1);
		margin-bottom: $spacing*5;
	}
	
	@include media($large-up) {
		@include type-setting(2);
		margin-bottom: $spacing*10;
	}
	
	&__icon {
		
		display: block;
		color: $sc-blue;
		
		&:before {
			font-family: $icon-font-family;
			margin-right: $spacing;
			
			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		
		&--checkmark {
			@extend .icon-check-mark-circle;
		}
		
		&--exclamationmark {
			@extend .icon-exclamation-mark-circle;
		}
		
		&--fire {
			@extend .icon-fire;
		}
		
		&--flash {
			@extend .icon-flash;
		}
		
		&--information {
			@extend .icon-information-circle;
		}
		
		h2 &,
		h3 & {
			position: relative;
			margin-bottom: $spacing;
			
			@include media($medium) {
				@include type-setting(0);
				margin-bottom: $spacing * 2;
			}
			
			@include media($large-up) {
				@include type-setting(1);
				margin-bottom: $spacing * 2;
			}
		}
	}
}