.a-textarea {
	@include type-setting(-2);
	font-family: $font-family;
	background-color: white;
	color: $grey-80;
	border-radius: 5px;
	padding: $spacing;
	border: 1px solid $grey-20;
	
	-webkit-appearance: none;
	
	&:focus {
		outline: none;
		border-color: $sc-blue;
	}
}